{% load static %}
<div class="mobNavbarBlock">
    <span>
        <a href="{% url 'index' %}" class="link"><img src="{% static 'media/serv.png' %}"></a>
        <a href="{% url 'index' %}" class="link"><img src="{% static 'media/proj.png' %}"></a>
        <a href="{% url 'index' %}" class="link"><img src="{% static 'media/blog.png' %}"></a>
    </span>
    <span>
        <a href="{% url 'index' %}" class="logo"><img src="{% static 'media/logo.png' %}"></a>
    </span>
    <span>
        <a href="{% url 'index' %}" class="link"><img src="{% static 'media/info.png' %}"></a>
        <a href="{% url 'index' %}" class="link"><img src="{% static 'media/cont.png' %}"></a>
        <a href="{% url 'index' %}" class="link"><img src="{% static 'media/cont.png' %}"></a>
    </span>
</div>