{% extends 'base.html' %}
{% load static %}
{% block main %}
    {% include 'addons/header.html' %}
    <main id="main">
        <div class="blogHead">
            <p>Services</p>
            <div class="line"></div>
        </div>
        <div class="carsBlock">
            {% for service in services %}
                <div class="cardbox">
                    <div class="folder">
                        <img src="{% static 'media/f1.png' %}">
                        <div class="seemore">
                            <a href="{% url 'post_service' service.slug %}">See more</a>
                        </div>
                    </div>
                    <div class="info">
                        <p class="name">{{service.name}}</p>
                        <p class="desc">{{service.mini_desc}}</p>
                    </div>
                    <div class="cardlogo">
                        <img src="{% static 'media/logo.png' %}">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="serviceBlockForMob">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                {% for service in services %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{service.id}}" aria-expanded="false" aria-controls="flush-collapseOne">{{service.name}}</button>
                        </h2>
                        <div id="flush-collapseOne{{service.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>{{service.mini_desc}}</p>
                                <div class="btnsm">
                                    <a href="{% url 'post_service' service.slug %}" class="seemore">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="blogHead">
            <p>Projects</p>
            <div class="line"></div>
        </div>
        <div class="projectBlock">
            {% for project in projects %}
                <div>
                    <div class="projectBox">
                        <a href="{% url 'post_project' project.slug %}"><img src="{{project.img}}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="blogHead">
            <p>Customer reviews</p>
            <div class="line"></div>
        </div>
        <div class="reviewsBlock">
            {% for review in reviews %}
                <div class="reviewBox">
                    <div class="review">
                        <p>{{review.desc}}</p>
                    </div>
                    <div class="customer">
                        <a href="{% url 'post_project' review.partner.slug %}">{{review.partner.name}}</a>
                        <a href="{% url 'post_project' review.partner.slug %}"><img src="{{review.partner.img}}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="blogHead">
            <p>Blog</p>
            <div class="line"></div>
        </div>
        {% for article in blog_big %}
            <div class="bigBlog">
                <a href="{% url 'post_blog' article.slug %}" class="img">
                    <img src="{{article.img}}">
                </a>
                <div class="info">
                    <a href="{% url 'post_blog' article.slug %}" class="name">{{article.name}}</a>
                    <p class="desc">{{article.mini_desc}}
                </div>
            </div>
        {% endfor %}
        <div class="blogsBlock">
            {% for article in blog %}
                <div class="blogBox">
                    <a href="{% url 'post_blog' article.slug %}" class="img">
                        <img src="{{article.img}}">
                    </a>
                    <div class="info">
                        <a href="#" class="name">{{article.name}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}